<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="row g-3 mt-3" action="/random" method="POST">
  <div class="col-auto">
    <h2>請輸入網址</h2>
  </div>
  <div class="col-sm-8">
    <label for="inputPassword2" class="visually-hidden"></label>
    <input type="text" class="form-control " id="inputPassword2" placeholder="請輸入網址" required="required" name="url">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">確認送出</button>
  </div>
</form>
</body>
</html>